/* Defaults here: */
/* https://github.com/Alexays/Waybar/blob/master/resources/style.css */

* {
	font-family: SauceCodePro Nerd Font;
	font-size: 16px;
	font-weight: 700;

	background-color: #000000;
	color: #999999;
}

.modules-left>widget>*,
.modules-center>widget>*,
.modules-right>widget>* {
	padding: 0 8px;
}

#workspaces button {
	border-radius: 0;
}

#workspaces button,
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #000000;
	border: none;
	/* padding: 0 3px; */
}


#workspaces button.active,
#workspaces button.focused {
	border: none;
	border-bottom: 3px solid #ff9800;
}

#workspaces button.focused label,
#workspaces button.active label {
	color: #ff9800;
}
